# Exploratory Data Analysis

# Table of Contents
1. [Import package](#package)
2. [League statistics](#league-statistics)
3. [Card](#card)
4. [Goal player statistics](#goal-player-statistics)

## 1. Import package <a name="package"></a>

In [1]:
import os
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
appearance = pd.read_csv("dataset/appearances.csv")
games = pd.read_csv("dataset/games.csv")
leagues = pd.read_csv("dataset/leagues.csv")
players = pd.read_csv("dataset/players.csv")
teams = pd.read_csv("dataset/teams.csv")
teamstats = pd.read_csv("dataset/teamstats.csv")

In [3]:
cols = ['appearance', 'leagues', 'players', 'teams', 'teamstats', 'games']
table = pd.DataFrame(columns=['Table', 'Num columns', 'Num rows'])
table['Table'] = cols
table['Num columns'] = [eval(col).shape[1] for col in table['Table']]
table['Num rows'] = [eval(col).shape[0] for col in table['Table']]
table = table.sort_values(by='Num columns', ascending=False)
table

        Table  Num columns  Num rows
5       games           34     12680
0  appearance           19    356513
4   teamstats           16     25360
1     leagues            3         5
2     players            2      7659
3       teams            2       146

## 2. League statistics <a name="league-statistics"></a>

In [4]:
games.describe()

,gameID,leagueID,season,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,awayProbability,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
count,12680.000000,12680.000000,12680.000000,12680.000000,12680.000000,12680.000000,12680.000000,12680.000000,12680.000000,12680.000000,...,12660.000000,12674.000000,12674.000000,12674.000000,12676.000000,12676.000000,12676.000000,12678.000000,12678.000000,12678.000000
mean,7877.707334,2.983912,2016.984148,135.324842,135.333517,1.533202,1.206625,0.448547,0.238177,0.313276,...,4.960691,2.814066,3.922736,4.715202,2.875784,4.121011,4.964436,2.944233,4.237991,5.031667
std,4753.774045,1.437191,2.000075,42.757999,42.767761,1.306732,1.167718,0.284916,0.109579,0.262446,...,4.589909,2.086847,1.289012,4.332977,2.280443,1.558112,4.945039,2.366988,1.729635,4.832513
min,81.000000,1.000000,2014.000000,71.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.090000,1.020000,1.200000,1.080000,1.030000,2.200000,1.080000,1.040000,2.300000,1.080000
25%,3812.750000,2.000000,2015.000000,101.000000,101.000000,1.000000,0.000000,0.197450,0.163400,0.088800,...,2.460000,1.700000,3.200000,2.400000,1.700000,3.300000,2.450000,1.700000,3.360000,2.450000
50%,7981.500000,3.000000,2017.000000,132.000000,132.000000,1.000000,1.000000,0.428600,0.247400,0.242100,...,3.520000,2.250000,3.500000,3.300000,2.200000,3.600000,3.500000,2.250000,3.660000,3.550000
75%,12023.250000,4.000000,2019.000000,163.000000,163.000000,2.000000,2.000000,0.686400,0.307625,0.492725,...,5.440000,3.000000,4.000000,5.000000,3.100000,4.200000,5.250000,3.150000,4.360000,5.540000
max,16135.000000,5.000000,2020.000000,262.000000,262.000000,10.000000,9.000000,1.000000,0.859000,0.999700,...,48.750000,26.000000,19.000000,51.000000,36.000000,26.000000,67.000000,37.630000,26.600000,52.770000

In [7]:
games.drop(columns=games.columns[13:], inplace=True)
games.head()

,gameID,leagueID,season,date,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,awayProbability,homeGoalsHalfTime,awayGoalsHalfTime
0,81,1,2015,2015-08-08 15:45:00,89,82,1,0,0.2843,0.3999,0.3158,1,0
1,82,1,2015,2015-08-08 18:00:00,73,71,0,1,0.3574,0.3500,0.2926,0,0
2,83,1,2015,2015-08-08 18:00:00,72,90,2,2,0.2988,0.4337,0.2675,0,1
3,84,1,2015,2015-08-08 18:00:00,75,77,4,2,0.6422,0.2057,0.1521,3,0
4,85,1,2015,2015-08-08 18:00:00,79,78,1,3,0.1461,0.2159,0.6380,0,1

## 3. Card <a name="card"></a>

## 4.Goal player statistics <a name="goal-player-statistics"></a>